In [2]:
                                            #Deision tree for classification 

import pandas as pd 
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

In [6]:
#loading dataset 
dataset=pd.read_csv('C:/Users/Alessandro/bill_authentication.csv')

In [7]:
#exploratory anaysis
dataset.shape #5 columns and 1372 rows

(1372, 5)

In [8]:
#exploratory anaysis
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [12]:
#Prepare the data 
X=dataset.drop('Class', axis=1) #save dataset in a new obkect (X) then remove Class object (output)
y=dataset['Class'] #save only the output var (y) in a new object

In [13]:
#split the datasets (x and y) in test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2) #80/20 division

In [14]:
#Import DT classifier, create DT classifier object and train
from sklearn.tree import DecisionTreeClassifier
DTclassifier= DecisionTreeClassifier()
DTclassifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
#Lets make some predictions
pred=DTclassifier.predict(X_test)

In [16]:
#Evaluating performances
from sklearn.metrics import classification_report, confusion_matrix
print (confusion_matrix(y_test,pred))
print (classification_report(y_test, pred))
#out of 275 only 2 misclassified

[[147   0]
 [  2 126]]
             precision    recall  f1-score   support

          0       0.99      1.00      0.99       147
          1       1.00      0.98      0.99       128

avg / total       0.99      0.99      0.99       275

In [ ]:
                                                 #DECISION TREE REGRESSION

In [18]:
#load dataset
dataset=pd.read_csv('C:/Users/Alessandro/petrol_consumption.csv')

In [21]:
#data exploration
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [20]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [22]:
#Storing output and other predictors in different objects (y,X)
X=dataset.drop('Petrol_Consumption', axis=1)
y=dataset['Petrol_Consumption']

In [23]:
#Create test/train sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [33]:
#Training the DT algorithm and make predictions
from sklearn.tree import DecisionTreeRegressor
regression = DecisionTreeRegressor()  
regression.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [32]:
#Making predictions
pred = regression.predict(X_test)

In [35]:
#Check results, actual vs predicted 
df = pd.DataFrame({'Actual':y_test, 'Predicted':pred })
df

    Actual  Predicted
29     534      541.0
4      410      414.0
26     577      554.0
30     571      554.0
32     577      554.0
37     704      574.0
34     487      648.0
40     587      525.0
7      467      414.0
10     580      464.0

In [36]:
#Evaluate using metrix
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, pred)) #9.6# of the y 
print('Mean Squared Error:', metrics.mean_squared_error(y_test,pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,pred)))

Mean Absolute Error: 59.6
Mean Squared Error: 6434.2
Root Mean Squared Error: 80.21346520379231